---

---

<div class="border-solid border-2 border-n-red rounded-md mt-12 p-3">
    <div class="pt-4">
        <div class="text-xl font-bold">Subscribe to my newsletter</div>
        <p>
            Get emails from me about tech, fun and just to have a good laugh.
          </p>
          <form class="relative my-4"
          action="https://postal.rithul.dev/subscription/form"
          method="post"
          target="_blank"
          >
            <input
              placeholder="hi@rithul.dev"
              type="email"
              name="email"
              autocomplete="email"
              required
              class="px-4 py-2 mt-1 focus:ring-blue-500 focus:border-blue-500 block w-full border-gray-300 rounded-md pr-32"
            />
            <button
            class="flex items-center justify-center absolute right-1 top-1 px-4 h-9 bg-n-red  text-white rounded w-28 text-center"
              type="submit"
            >
                Subscribe
            </button>
            <input id="2ef18" type="checkbox" name="l" checked value="2ef18ffa-a070-447d-b04a-a65c22bf9a4f"  class="hidden"/>
            </form>
    </div>
</div>
